<ul class="movie-box">
  {{#each movies}}
    <li><img src="{{image}}" alt="{{title}}"/></li>
    <li><h3>{{title}}</h3></li>
    <li><button><a href="/movies/{{_id}}">See more</a></button></li>
    <br/>
  {{/each}}
</ul>

<h1>Ironhack Cinema</h1>

<p>Click on a movie to see the showtimes!</p>